.jewelery {
    background-image: url("/public/images/jewelery.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Men-fashion {
    background-image: url("/public/images/men-fashion.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Women-fashion {
    background-image: url("/public/images/women-fashion.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}